<div class="level-selector-container">
  <div class="level-selector-header">
    <h3 class="mat-subtitle-1">Log Levels</h3>
    <div class="level-actions">
      <button mat-button color="primary" (click)="selectAll()">All</button>
      <button mat-button color="warn" (click)="selectNone()">None</button>
    </div>
  </div>
  
  <div class="level-chips">
    <div *ngFor="let level of levels" 
         [ngClass]="{ 'selected': level.selected }"
         class="level-chip"
         [style.background-color]="level.selected ? level.color + '33' : 'transparent'"
         [style.border-color]="level.color"
         (click)="toggleLevel(level)">
      <span class="level-indicator" [style.background-color]="level.color"></span>
      {{ level.level.toString() | uppercase }}
    </div>
  </div>
</div>
