<div class="connection-status-container">
  <div class="status-header" [ngClass]="getConnectionStatusClass()">
    <div class="status-indicator"></div>
    <div class="status-text">
      <ng-container *ngIf="socketStatus === 'connected' && !usingMockData">Connected</ng-container>
      <ng-container *ngIf="socketStatus === 'disconnected' && !usingMockData">Disconnected</ng-container>
      <ng-container *ngIf="socketStatus === 'error' && !usingMockData">Connection Error</ng-container>
      <ng-container *ngIf="usingMockData">Using Simulated Data</ng-container>
    </div>
  </div>
  
  <div class="connection-details">
    <div class="detail-row" *ngIf="socketStatus === 'connected' || usingMockData">
      <div class="detail-label">Duration:</div>
      <div class="detail-value">{{ formatDuration(connectionDuration) }}</div>
    </div>
    
    <div class="detail-row">
      <div class="detail-label">Active:</div>
      <div class="detail-value">{{ activeConnections }}</div>
    </div>
    
    <div class="detail-row">
      <div class="detail-label">Total:</div>
      <div class="detail-value">{{ totalConnections }}</div>
    </div>
    
    <div class="detail-row" *ngIf="lastActivity">
      <div class="detail-label">Last Activity:</div>
      <div class="detail-value">{{ lastActivity | date:'HH:mm:ss' }}</div>
    </div>
  </div>
  
  <div class="connection-footer" [ngClass]="getConnectionStatusClass()">
    <ng-container *ngIf="usingMockData">
      <mat-icon>sync_problem</mat-icon> Simulated metrics (backend unavailable)
    </ng-container>
    <ng-container *ngIf="!usingMockData && socketStatus === 'connected'">
      <mat-icon>sync</mat-icon> Receiving real-time updates
    </ng-container>
    <ng-container *ngIf="!usingMockData && socketStatus !== 'connected'">
      <mat-icon>sync_disabled</mat-icon> Waiting for connection
    </ng-container>
  </div>
</div>
